.container{
    text-align: center;
}

ul{
    list-style-type: none;
}

.list-container{
    text-align : center;
}


html { 
    background: url("bg2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
}

h1,.dynamic-head,h4{
    color : greenyellow; 
    font-family: 'New Tegomin', serif;
}

.list-group-item{
    color: white;
    font-family: 'Orelega One', cursive;
    font-size: x-large;
}

.bottom-quote{
    color: white;
    font-family: 'Dancing Script', cursive;
}


.heffect{
	color: dodgerblue;
	text-decoration: none;
	font-family: 'New Tegomin', serif;
	font-weight: bold;
}
.heffect:hover {
		font-size: 150%;
	}
.contact{
    color: white;
    font-family: 'New Tegomin', serif;
	display: inline-block;
}

.graph-container{
    background-color: white;
    border-radius: 25px;
}